# Ignore everything except Codes folder
/*
!.gitignore
!/Codes/

# Within Codes, ignore these patterns
Codes/__pycache__/
Codes/*.pyc
Codes/Images/
Codes/simulation data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

